.button {
  outline: none;
  border: none;
  color: #fff;
  height: 45px;
  font-size: 1.1em;
  padding: 0 7px;

  &:hover {
    transform: scale(1.01);
    transition: .2s;
  }
}

.success {
  background: linear-gradient(#1fa121, #248a25);
}