.visit-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91.6vh;
  background: linear-gradient(#127199, #123d99);

  &__container {
    width: 800px;
    height: 100%;
    padding: 20px;
    background: #fff;
  }

  &__user-info-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, rgb(16, 42, 238), rgb(25, 175, 72));
    }
  }

  &__delete-button {
    background: rgb(166, 45, 45);
    color: #fff;
    border: none;
    padding: 3px 20px;
    margin: 4px 0;
    font-size: 1.1em;
    
    &:hover {
      background: rgb(136, 38, 38);
    }
  }

  &__show-new-issue,
  &__finish-review {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    outline: none;
    color: #fff;
    font-size: 1.1em;
    border: none;

    &:hover {
      background: linear-gradient(to right, rgb(16, 42, 238), rgb(25, 175, 72));
    }
  }

  &__user-info-main {
    display: flex;
    padding: 20px;
  }

  &__left,
  &__right {
    width: 50%;
  }

  &__change-please {
    text-align: center;
  }

  &__line {
    margin: 20px 0;
    height: 3px;
    background: linear-gradient(to right, rgb(93, 0, 255), rgb(76, 208, 215));
  }
}

.main-info {
  display: block;
  padding: 5px;
}