.visits {
  height: 91.6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#127199, #123d99);

  &__my {
    width: 800px;
    height: 440px;
    padding: 10px;
    background-color: #fff;
    position: relative;
  }

  &__filter {
    display: flex;
  }

  &__filter-container {
    border-bottom: 2px solid #000;
  }

  &__button {
    background: transparent;
    border: none;
    padding: 5px;
    outline: none;

    &:hover {
      background: rgb(179, 175, 175);
      transition: .2s;
    }
  }

  &__results-container {
    margin: 0 auto;
    border: 2px solid rgb(111, 107, 107);
    min-height: 80%;
  }

  &__add-container {
    bottom: 10px;
    display: flex;
    position: absolute;
    width: 97.5%;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
  }

  &__add-button {
    width: 100%;
    padding: 10px;
    outline: none;
  }
}

.active {
  background: rgb(226, 221, 221);
}
