.user {
  background: linear-gradient(#127199, #123d99);
  height: 91.6vh;

  &__background {
    position: relative;
    height: 200px;
  }

  &__image-container {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  &__image-inner-container {
    position: relative;
    width: 220px;
    height: 220px;
    background: #dbdbdb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url("../../../assets/unknown-user.jpg");
    background-size: 100%;
    width: 205px;
    height: 205px;
    border-radius: 50%;
  }
  &__info-container {
    display: flex;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 85%;
    padding-bottom: 121px;
  }

  &__header-info {
    padding: 20px 0 60px;
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  &__bonuses,
  &__birthday {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__fullname {
    text-align: center;
  }

  &__contacts {
    width: 70%;
  }

  &__contacts-heading {
    text-align: center;
  }

  &__email-container {
    text-align: right;
  }

  &__email-phone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }

  &__button-group {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

}

.fio {
  font-size: 1.2em;
  font-weight: 600;
  word-spacing: 10px;
}

.users-buttons {
  width: 190px;
}