.item {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr 2fr 1fr;
  padding: 5px;
  text-align: center;

  &:hover {
    background-color: rgb(211, 216, 215);
  }

  & > * {
    padding: 0 10px;
  }

  &__details-button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
  }
}
