.form-input {
  height: 50px;
  font-size: 1em;
  padding: 0 7px;
  outline: none;
  border: 2px solid #5a6875;

  &:focus {
    border: 2px solid #326fa8;
  }

  &:hover {
    transform: scale(1.01);
    transition: .2s;
    box-shadow: 3px 3px 3px #6c7f8c;
  }
}

.form-button {
  background: linear-gradient(#127199, #123d99);
  color: #fff;
  height: 50px;
  font-size: 1.1em;
  padding: 0 7px;
  outline: none;
  border: none;

  &:hover {
    background: linear-gradient(#1d72ab, #1744a6);
    transform: scale(1.01);
    transition: .2s;
    box-shadow: 3px 3px 3px #29648c;
  }
}

.error {
  display: flex;
  justify-content: center;
  color: #a6241f;
}
