.form-input {
  height: 50px;
  font-size: 1em;
  padding: 0 7px;
  outline: none;
  border: 2px solid #5a6875;

  &:focus {
    border: 2px solid #326fa8;
  }

  &:hover {
    transform: scale(1.01);
    transition: .2s;
    box-shadow: 3px 3px 3px #6c7f8c;
  }
}

.form-button {
  background: linear-gradient(#127199, #123d99);

  &:hover {
    background: linear-gradient(#1d72ab, #1744a6);
    box-shadow: 3px 3px 3px #29648c;
  }
}

.error {
  display: flex;
  justify-content: center;
  color: #a6241f;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#127199, #123d99);

  &__container {
    background: #fff;
    padding: 20px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }
}
